{% extends "base.html" %}

{% block head %}{% endblock %}

{% block title %}Form{% endblock %}

{% block body %}
<h1>Welcome on the homepage</h1>

<form method="post">
    <label for="title">Article title:</label><br>
    <input style="margin-bottom: 10px;" type="text" name="title" id="title_input"><br>
    <label for="body">Article body:</label><br>
    <input style="margin-bottom: 10px;" type="text" name="body" id="body_input"><br>
    <input type="button" value="Submit" onclick=send_request();>
  </form> 

{% endblock %}

{% block script %}
<Script>

function send_request(){
    title = document.getElementById("title_input").value;
    body = document.getElementById("body_input").value;

    data = {
      "title": title,
      "body": body
    };

    fetch(`${window.origin}/form`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(data),
      cache:"no-cache",
      headers: new Headers({
        'content-type': 'application/json'
      })
    })
    .then(function(response){

      if (response.status !== 200){
        console.log(`Response status: ${response.status}`);
        return;
      }

      response.json().then(function(data){
        console.log(data);
      })
    })
}

</Script>
{% endblock %}