body {
    text-align: center;
    background-color: #F5EDDC;
}

h1 {
    margin: 30px;
    color: #EB1D36;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-child {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: #FA9494 solid 4px;
    border-radius: 10px;
    background-color: #CFD2CF;
    color: #EB1D36;
}