body {
    text-align: center;
    background-color: #16213E;
}

h1 {
    margin: 30px;
    color: #E94560;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: #533483 solid 2px;
    color: #E94560;
}